*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ---------------------Banner Style Start----------------------- */
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url('https://i.ibb.co/QKvSqcx/pofile-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    position: relative;
}

/* ---------------------Navbar style----------------------- */
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

/* ---------------------navbar logo style----------------------- */
.navbar-logo h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 8px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(247, 247, 247, 0.3);
}
.navbar-logo h1:hover{
    font-size: 42px;
}

/* ---------------------navbar items style----------------------- */
.navbar-items{
    display: flex;
    gap: 32px;
}

.navbar-items li{
    list-style: none;
    position: relative;
}

.navbar-items li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

/* ---------------------navbar items animation----------------------- */
.navbar-items li a::after{
    position: absolute;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.navbar-items li a:hover:after{
    width: 100%;
}

/* ---------------sidebar-------------- */
#sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 225px;
    height: 100vh;
    z-index: 555;
    background-color: rgba(255,255,255,0.2);
    box-shadow: -10px 0 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    padding: 20px 0 0 10px;
}
#sidebar li{
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
}
#sidebar li a{
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#closebar a img{
    filter: brightness(0) invert(1);
}

/* --------------menubar----------- */
#menu-bar{
    display: none;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

/* ---------------------Banner info text----------------------- */
.banner-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* up and wodn same solution */
/* .banner-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

.banner-content h1{
    font-size: 58px;
    text-align: center;
    margin-bottom: 28px;
}
.banner-content p{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color:rgb(255, 255, 255)
}

/* ------------------banner-social-content------------------------ */
.banner-social-content{
    position: absolute;
    right: 40px;
    bottom: 16px;
}
.banner-social-content div{
    margin-bottom: 12px;
}
.banner-social-content img{
    filter: brightness(0) invert(1);
    width: 26px;
    height: 26px;
    cursor: pointer;
}

/* ------------------banner-language-content------------------------ */
.banner-language-contant{
    position: absolute;
    left: 20px;
    bottom: 56px;
    display: flex;
    gap: 15px;
    transform: rotate(90deg);
}

/* ---------------------Banner Style End----------------------- */

/* ----------------------Media Query---------------------------- */
@media only screen and (max-width: 768px) and (min-width: 600px) {
    /* Tab */
    .navbar{
        padding: 0 30px;
    }
    
}

@media only screen and (max-width: 600px){
    /* Mobile */
    .navbar-items{
        display: none;
    }
    #menu-bar{
        display: flex;
    }
    .navbar{
        padding: 0 30px;
    }
    .banner-social-content{
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        gap: 20px;
    }
    .banner-language-contant{
        left: 42%;
        top: 95%;
        gap: 15px;
        transform: rotate(0deg);
    }
}